<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>date</key>
		<string>2014-03-12</string>
		<key>wether</key>
		<string>晴</string>
		<key>mood</key>
		<string>兴奋</string>
		<key>latitude</key>
		<string>12.111111</string>
		<key>longitude</key>
		<string>112.22222</string>
		<key>photoes</key>
		<array/>
		<key>voicePath</key>
		<string></string>
		<key>content</key>
		<string>今天心情很好，确实好2</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2014-03-11</string>
		<key>wether</key>
		<string>晴</string>
		<key>mood</key>
		<string>兴奋</string>
		<key>latitude</key>
		<string>12.111111</string>
		<key>longitude</key>
		<string>112.22222</string>
		<key>photoes</key>
		<array/>
		<key>voice</key>
		<string></string>
		<key>content</key>
		<string>今天心情很好，确实好</string>
	</dict>
</array>
</plist>
